.loginForm-container {
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 10px #96ca3a;
}

.post-button:hover:disabled span {
  display: none;
}
.heading {
  font-size: 2.441rem;
  font-weight: bold;
}
