.loginForm-container {
  display: flex;
  flex-direction: column;
}
.inputs-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}
.displayArea {
  display: flex;
  flex-direction: column;
}
.post-button:hover:disabled span {
  display: none;
}
