.loginForm-container {
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 61vh;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.inputs-container {
}
.displayArea {
}
.post-button:hover:disabled span {
  display: none;
}
.heading {
  font-size: 2em;
  font-weight: bold;
}

.span-post-btn {
}

.arrow-img {
}
