body {
  color: #96ca3a;
  font-family: "Montserrat", sans-serif;
  background: url("./quantox-logo-bkg.png") no-repeat fixed top;
}

label {
  font-size: 1rem;
  font-weight: bold;
}
input {
  width: 46%;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #96ca3a;
}
textArea {
  font-weight: bolder;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #96ca3a;
  width: 47%;
  resize: vertical;
  min-height: 5em;
  max-height: 16.3em;
}
button {
  padding: 2px !important;
  font-size: 85% !important;
  color: #96ca3a !important;
  background-color: black !important ;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border-color: black;
  width: 35%;
}
button:enabled:hover {
  background-color: #96ca3a !important;
  color: black !important;
  transition: background-color 0.5s;
}

button:disabled:hover {
  background-color: red !important;
  transition: background-color 0.5s;
}

button:disabled:hover::before {
  content: attr(text-on-hover);
  color: white;
}
