body {
  color: #96ca3a;
  font-family: "Montserrat", sans-serif;
  background: url("./quantox-logo-bkg.png") no-repeat fixed top;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 61vh;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

label {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
input {
  width: 46%;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #96ca3a;
  margin-bottom: 1em;
}
textArea {
  font-weight: bolder;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #96ca3a;
  width: 47%;
  resize: vertical;
  min-height: 5em;
  max-height: 16.3em;
}
button {
  font-size: 0.8rem;
  background-color: #96ca3a;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border-color: #96ca3a;
  width: 30%;
}
button:enabled:hover {
  background-color: black;
  color: #96ca3a;
  transition: background-color 0.5s;
}

button:disabled:hover {
  background-color: red;
  transition: background-color 0.5s;
}

button:disabled:hover::before {
  content: attr(text-on-hover);
  color: white;
}
