@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #96ca3a;
  font-family: "Montserrat", sans-serif;
  background: url("./assets/quantox-logo-bkg.png") fixed;
}

label {
  font-size: 1rem;
  font-weight: bold;
}
input {
  max-width: 50vh;
  min-width: 25vh;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #96ca3a;
}
textArea {
  font-weight: bolder;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #96ca3a;
  resize: vertical;
  min-height: 5em;
  max-height: 16.3em;
  max-width: 50vh;
  min-width: 25vh;
}
button {
  padding: 2px !important;
  color: #96ca3a !important;
  background-color: black !important ;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  border-color: black;
  box-shadow: 0 0 10px #96ca3a;
}

button:enabled:hover {
  background-color: #96ca3a !important;
  color: black !important;
}

button:disabled:hover {
  background-color: red !important;
}

button:disabled:hover::before {
  content: attr(text-on-hover);
  color: white;
}
